@{
    ViewBag.Title = "Confirm Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="text-success">Order Confirmed!</h2>
            <p class="lead">We have received your order and will deliver it as soon as possible.</p>
            <p>
                @Html.ActionLink("Back to Food List", "Index", "Food", new { id = "" }, new { @class = "btn btn-info" })
            </p>
        </div>
    </div>
</div>
